# Apriori

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from datetime import datetime

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
dataset = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/GroceryStoreDataSet.csv', names=['Products'],  header = None)

In [4]:
print(dataset.head())

                        Products
0             MILK,BREAD,BISCUIT
1  BREAD,MILK,BISCUIT,CORNFLAKES
2            BREAD,TEA,BOURNVITA
3           JAM,MAGGI,BREAD,MILK
4              MAGGI,TEA,BISCUIT

In [5]:
print(dataset.columns)

Index(['Products'], dtype='object')

In [6]:
print(dataset.values)

[['MILK,BREAD,BISCUIT']
 ['BREAD,MILK,BISCUIT,CORNFLAKES']
 ['BREAD,TEA,BOURNVITA']
 ['JAM,MAGGI,BREAD,MILK']
 ['MAGGI,TEA,BISCUIT']
 ['BREAD,TEA,BOURNVITA']
 ['MAGGI,TEA,CORNFLAKES']
 ['MAGGI,BREAD,TEA,BISCUIT']
 ['JAM,MAGGI,BREAD,TEA']
 ['BREAD,MILK']
 ['COFFEE,COCK,BISCUIT,CORNFLAKES']
 ['COFFEE,COCK,BISCUIT,CORNFLAKES']
 ['COFFEE,SUGER,BOURNVITA']
 ['BREAD,COFFEE,COCK']
 ['BREAD,SUGER,BISCUIT']
 ['COFFEE,SUGER,CORNFLAKES']
 ['BREAD,SUGER,BOURNVITA']
 ['BREAD,COFFEE,SUGER']
 ['BREAD,COFFEE,SUGER']
 ['TEA,MILK,COFFEE,CORNFLAKES']]

In [7]:
data = list(dataset["Products"].apply(lambda x:x.split(',')))

In [8]:
data

[['MILK', 'BREAD', 'BISCUIT'],
 ['BREAD', 'MILK', 'BISCUIT', 'CORNFLAKES'],
 ['BREAD', 'TEA', 'BOURNVITA'],
 ['JAM', 'MAGGI', 'BREAD', 'MILK'],
 ['MAGGI', 'TEA', 'BISCUIT'],
 ['BREAD', 'TEA', 'BOURNVITA'],
 ['MAGGI', 'TEA', 'CORNFLAKES'],
 ['MAGGI', 'BREAD', 'TEA', 'BISCUIT'],
 ['JAM', 'MAGGI', 'BREAD', 'TEA'],
 ['BREAD', 'MILK'],
 ['COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES'],
 ['COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES'],
 ['COFFEE', 'SUGER', 'BOURNVITA'],
 ['BREAD', 'COFFEE', 'COCK'],
 ['BREAD', 'SUGER', 'BISCUIT'],
 ['COFFEE', 'SUGER', 'CORNFLAKES'],
 ['BREAD', 'SUGER', 'BOURNVITA'],
 ['BREAD', 'COFFEE', 'SUGER'],
 ['BREAD', 'COFFEE', 'SUGER'],
 ['TEA', 'MILK', 'COFFEE', 'CORNFLAKES']]

In [9]:
from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()
te_data = te.fit(data).transform(data)
dataset = pd.DataFrame(te_data,columns=te.columns_)
dataset.head()

   BISCUIT  BOURNVITA  BREAD   COCK  COFFEE  ...    JAM  MAGGI   MILK  SUGER    TEA
0     True      False   True  False   False  ...  False  False   True  False  False
1     True      False   True  False   False  ...  False  False   True  False  False
2    False       True   True  False   False  ...  False  False  False  False   True
3    False      False   True  False   False  ...   True   True   True  False  False
4     True      False  False  False   False  ...  False   True  False  False   True

[5 rows x 11 columns]

In [10]:
from mlxtend.frequent_patterns import apriori, association_rules
frq_items = apriori(dataset, min_support = 0.1, use_colnames = True)

In [11]:
print(frq_items)

    support                             itemsets
0      0.35                            (BISCUIT)
1      0.20                          (BOURNVITA)
2      0.65                              (BREAD)
3      0.15                               (COCK)
4      0.40                             (COFFEE)
5      0.30                         (CORNFLAKES)
6      0.10                                (JAM)
7      0.25                              (MAGGI)
8      0.25                               (MILK)
9      0.30                              (SUGER)
10     0.35                                (TEA)
11     0.20                     (BREAD, BISCUIT)
12     0.10                      (BISCUIT, COCK)
13     0.10                    (COFFEE, BISCUIT)
14     0.15                (CORNFLAKES, BISCUIT)
15     0.10                     (BISCUIT, MAGGI)
16     0.10                      (BISCUIT, MILK)
17     0.10                       (TEA, BISCUIT)
18     0.15                   (BREAD, BOURNVITA)
19     0.10                   (SUGER, BOURNVITA)
20     0.10                     (TEA, BOURNVITA)
21     0.15                      (COFFEE, BREAD)
22     0.10                         (BREAD, JAM)
23     0.15                       (BREAD, MAGGI)
24     0.20                        (BREAD, MILK)
25     0.20                       (BREAD, SUGER)
26     0.20                         (BREAD, TEA)
27     0.15                       (COFFEE, COCK)
28     0.10                   (CORNFLAKES, COCK)
29     0.20                 (COFFEE, CORNFLAKES)
30     0.20                      (COFFEE, SUGER)
31     0.10                   (CORNFLAKES, MILK)
32     0.10                    (TEA, CORNFLAKES)
33     0.10                         (MAGGI, JAM)
34     0.20                         (TEA, MAGGI)
35     0.10               (BREAD, BISCUIT, MILK)
36     0.10              (COFFEE, BISCUIT, COCK)
37     0.10          (CORNFLAKES, BISCUIT, COCK)
38     0.10        (COFFEE, CORNFLAKES, BISCUIT)
39     0.10                (TEA, BISCUIT, MAGGI)
40     0.10              (BREAD, TEA, BOURNVITA)
41     0.10               (COFFEE, BREAD, SUGER)
42     0.10                  (BREAD, MAGGI, JAM)
43     0.10                  (BREAD, TEA, MAGGI)
44     0.10           (COFFEE, CORNFLAKES, COCK)
45     0.10  (COFFEE, CORNFLAKES, BISCUIT, COCK)

In [12]:
rules = association_rules(frq_items, metric ="lift", min_threshold = 1) 
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False])

In [13]:
rules.head(20)

                      antecedents           consequents  ...  leverage  conviction
95              (COFFEE, BISCUIT)    (CORNFLAKES, COCK)  ...     0.090         inf
98             (CORNFLAKES, COCK)     (COFFEE, BISCUIT)  ...     0.090         inf
40              (COFFEE, BISCUIT)                (COCK)  ...     0.085         inf
79                          (JAM)        (BREAD, MAGGI)  ...     0.085         inf
90  (COFFEE, BISCUIT, CORNFLAKES)                (COCK)  ...     0.085         inf
99                (BISCUIT, COCK)  (COFFEE, CORNFLAKES)  ...     0.080         inf
31                          (JAM)               (MAGGI)  ...     0.075         inf
58                 (TEA, BISCUIT)               (MAGGI)  ...     0.075         inf
75                   (BREAD, JAM)               (MAGGI)  ...     0.075         inf
48                (BISCUIT, COCK)          (CORNFLAKES)  ...     0.070         inf
53              (COFFEE, BISCUIT)          (CORNFLAKES)  ...     0.070         inf
92        (COFFEE, BISCUIT, COCK)          (CORNFLAKES)  ...     0.070         inf
47             (CORNFLAKES, COCK)             (BISCUIT)  ...     0.065         inf
60               (BISCUIT, MAGGI)                 (TEA)  ...     0.065         inf
91     (COFFEE, CORNFLAKES, COCK)             (BISCUIT)  ...     0.065         inf
21                         (COCK)              (COFFEE)  ...     0.090         inf
42                (BISCUIT, COCK)              (COFFEE)  ...     0.060         inf
86             (CORNFLAKES, COCK)              (COFFEE)  ...     0.060         inf
93    (BISCUIT, CORNFLAKES, COCK)              (COFFEE)  ...     0.060         inf
15                          (JAM)               (BREAD)  ...     0.035         inf

[20 rows x 9 columns]